<!-- Header -->
<header class="bg-primary py-3 mb-3">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Search Images</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <h2>Enter receipe to analyse</h2>
      <hr> -->
      <div class="content row" >
        <div class="col-sm-2 label">Keywords</div>
        <div class="col-sm-8"><input type="text" class="form-control mb-3 border-primary" [(ngModel)]="keywords" [ngClass]="{'border-danger': submitted && !keywords}"/></div>
        <div class="col-sm-2">
          <button class="btn btn-primary btn-lg" (click)="search()" [disabled]="submitted && !keywords">{{loading ? 'Loading...' : 'Search'}}</button>
        </div>
        <div class="col-sm-12" style="color: red;" *ngIf="submitted && !keywords">Please enter Keywords</div>
        <div class="col-sm-12"><h3>Search result: </h3></div>
        <div class="col-sm-12 pt-3" style="min-height: 400px; background-color: rgb(167, 196, 250);">
          <!-- Gallery -->
          <div class="row" *ngIf="searchResult">
            <div *ngFor="let arr of searchResult" class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <ng-container *ngIf="arr?.length">
                <img *ngFor="let item of arr"
                [src]="item?.urls?.regular"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
              />
              </ng-container>
            </div>
          </div>
          <!-- Gallery -->
        </div>

      </div>
    </div>
    <!-- <div class="col-md-4 mb-5"></div> -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
